<section class="luxary">
<div class="container">
    <div class="row">
        <div class="col-md-6 lux">
            <div class="image1">
                <div class="fun">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="fun1">
                <p class="adarsh"><b>luxury apartments in alwarpet, chennai</b></p>
                </div>
              </div>

            <h1>a new <br>language of<br><span >luxary</span></h1>

            <div class="open">
                <p class="add"><span>Asta Arise</span>consists of <span>124</span> luxury residences, these come in a <br>vibrantly designed 3,4 and 5 bedrooms</p>
                 </div>

                 <div class="down">
                    <div class="fun">
                    <button class="btn">Download Details</button>
                    </div>
                    <div class="fun1">
                    <img src="../../assets/img/Play.png" alt="playbtn">
                    </div>
                  </div>
        </div>
        <div class="col-md-6 lux1">
            <div class="image">
                <img src="../../assets/img/luxary-img.png">
            </div>

<div class="images">
    <img src="../../assets/img/lux1.png">
    <img class="va" src="../../assets/img/lux2.png">
    <img src="../../assets/img/lux3.png">
</div>
        </div>
    </div>
</div>
</section>


<section class="enquire">
    <div class="container">
        <div class="row for">
            <div class="col-md-2">
<h3 id="now">Enquire Now!</h3>
            </div>

            <div class="col-md-8 forms">
                <form #form="ngForm" ngSubmit="onsubmit(form)" style="display: flex;">
                  <input type="text" class="form-control" id="fname" [(ngModel)]="model.name" name="name" placeholder="Student Name" pattern="[a-zA-Z0-9]+$" required>
            
              
                  <input type="tel" class="form-control" id="lname" [(ngModel)]="model.number" name="number" placeholder="Phone Number" maxlength="10" pattern="[0-9]{10}" required >
                  
                  <input type="email" class="form-control" id="mail" [(ngModel)]="model.email" name="email"  placeholder="Email ID"  pattern="^[a-z0-9.%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                </form>
            </div>

         

            <div class="col-md-2">
                <button type="submit" (click)="onsubmit(form)" class="btn2"> send</button>
            </div>


        </div>
    </div>
</section>

<section class="choose-us">
    <div class="container">
    <div class="row us">
      <div class="col-md-6 us1">
          <div class="v1">
                      <img src="../../assets/img/desgin.png">
                      </div>
                      <div class="v2">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/jA7Xvw1JNw4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
  </div>
      <div class="col-md-6">
        <button class="btn3">About us</button>
        <h1>Designed<br> 
            to Delight.</h1>
       <p>Asta Arise is an 18 storied <b>luxury apartment </b>Condominium on an abundance of 2 acres which is a curated collection of <b>residences in Alwarpet</b>, the heart of the Music district of the City and with an easy access from both <b>TTK Road and CP Ramaswamy Road.</b>
          </p>
     <div class="us">
       <div class="check">
  <ul>
    <li><img src="../../assets/img/desgin-icn.png"> Spacious Designed Homes</li>
    <li> <img src="../../assets/img/desgin-icn1.png">  Exceptional Lifestyle</li>

    
  </ul>
       </div>
       <div class="check1">
        <li><img src="../../assets/img/desgin-icn2.png">   Beautiful Scene Around </li>
        <li><img src="../../assets/img/desgin-icn2.png">   Complete 24/7 Security</li>
        
       </div>
     </div>
     <div class="open1">
        <p class="add">At Asta Arise you don’t just move into a new home …
            You embrace 
          <b>“An inspired living experience!”</b></p>
          
         </div>
     
  
      </div>
    </div>
    </div>
  </section>

  <section class="question">
      <div class="container">
          
          <div class="row">
              <div class="col-md-6 qu">
                <div>
<p>Any Question you have</p>
<h1>+91 75500 22222</h1>
</div>
<div class="call">
    <button class="btn4">Make a Call</button>
    <button class="btn4" style="background-color: #F2F6F7; border: 1px solid #003369; color:#003369;">Contact us</button>
</div>
              </div>
              <div class="col-md-6 qu1">
<img src="../../assets/img/question-img.png">
              </div>
          </div>
      </div>
  </section>

  <section class="spacious">
    <div class="container">
        <div class="row">
          <div class="col-md-6 abtscl" style="margin-top:32px">
            <div class="flex">
              <div class="flex1">
                <div class="card1">
        <img src="../../assets/img/flex2.png">
                </div>


              
              
              
              
                <div class="card1">
                  <img src="../../assets/img/flex3.png">
                </div>
            </div>
            <div class="card2">
              <img src="../../assets/img/flex1.png">
            </div>
        
        </div>
          </div>
        
          <div class="col-md-6 top" style="margin-top: 101px;">
            
            <h1>Spacious Living
            </h1>
            <p>
                Homes where space, light & decor co-exist in perfect harmony … <br>
               <b style="color: yellow;"> Asta Arise | 3 & 4 BHK Apartments.</b>
                </p>
        <div class="now">
         <p><span>-</span> Rooms with ample space, completely ventilated, and lustrous designs</p>
         <p><span>-</span> An exuberant natural daylight environment with a private terrace garden</p>
         <p><span>-</span> Designed with stately living rooms and master bedrooms enveloped
            in full-height windows</p>
              </div>

              <div class="rooms">
                
                <div class=" establish1">
                <b>3, 4 & 5 </b>
                <p>Bedrooms</p>
                  
                </div>
                <div class="establish2">
                    <b>2292 - 5850 </b>
                    <p>Square Ft Range</p>
                </div>
                <div class=" establish2">
                  
                    <b>2 Apartments </b>
                    <p>Per Floor</p>
                </div>
              </div>
          
              <div class="abtcard">
                
                  <div class=" establish">
                    <img src="../../assets/img/spcl1.png" class="year1">
                    
                  </div>
                  <div class="establish">
                 <img src="../../assets/img/spcl2.png" class="year1">
                  </div>
                  <div class=" establish">
                    <img src="../../assets/img/spcl3.png" class="year1">
                    
                  </div>
                </div>
              </div>
            
        
        
        </div>
        </div>
  </section>


  <section class="virtual">
    <div class="container">
    <div class="row">
      <div class="col-md-12 viral">
        <h2><span>Virtual 360°</span>Vista at Asta Arise</h2>
        <p>Explore every facility, infrastructure with vibrant and astonishing designs, enlightened interior & exterior outlook, 3 and 4 BHKs,<br> expansive rooms, ventilation, and others. You can inquire us if anything is needed additionally.</p>
      </div>
    </div>
    </div>
    <div class="videos">
      <div class="container">
        <div class="row">
          <div class="col-md-12 viral1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VG9MVQ_7LWQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apartment">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button class="btn5">Apartments Sketch</button>
          <h1>Apartments Plan</h1>
          <b><span>Our Asta arise become snazzy in and around Chennai !</span></b>
          <p>The Development stratagem of world-class apartments at Asta Arise, Alwarpet is detailed here.
          </p>
          <div class="bhk">
            <p>3BHK  +  3T</p>
            <p>4BHK + 4T</p>
            <p>duplex</p>
          </div>
        </div>
      </div>
    </div>

    <div class="plan">
      <div class="container">
        <div class="row" style="margin: auto;">
          <div class="col-md-6 plan1">
<h3>3BHK + 3T</h3>
<p id="para"><b>Chic layouts</b> with an admirable execution is achieved <br>properly for <b>3BHK + 3T.</b>
</p>
<div class="tel">
  <p>Total Area </p>
  <b>2800 Sq.Ft</b>
</div>

<div class="tel">
  <p>Total Bedroom </p>
  <b>566 Sq.Ft</b>
</div>

<div class="tel">
  <p>Bathroom </p>
  <b>2800 Sq.Ft</b>
</div>

<div class="tel">
  <p>Belcony/Pets</p>
  <b>Allowed</b>
</div>

<div class="tel">
  <p>Lounge </p>
  <b>2500 Sq.Ft</b>
</div>
          </div>
          <div class="col-md-6 plan2">
<img src="../../assets/img/plan-img.png" style="width: 500px;">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="neighbour">
    <div class="container">
      <div class="row">
        <div class="col-md-6 nei">
<h1>ASTA ARISE <br>
  Neighbourhood</h1>
  <p>Is located in the Plush residential zone of central Chennai, Alwarpet.<br> The Project is Located between</p>
  <b>Poes Garden and The Boat club area adjoining Alwarpet and R.A puram.</b>
  <p style="margin-top: 10px;">With Close Proximity to commuting options like Upcoming Metro in TTK Road, 16 Kms to Chennai International Airport and 6 Km to Chennai Central Railway Station. ARISE has easy access to one of the city’s largest and Renowned Music Sabha “Music Academy” along with few more in the Vicintiy Like Narada Gana Sabha, Brahma Gana Sabha, Mylapore Fine Arts Club, Sivagami Pethachi Music Auditorium (MCTM).</p>
        <h5>Location is key when looking for the perfect home … <br>
          Asta Arise, Alwarpet.</h5>
</div>
        <div class="col-md-6 loc">
<img src="../../assets/img/maps.png" style=" width: 776px;">

        </div>
      </div>
    </div>
    <div class="min">
      <div class="container">
        <div class="row" style="padding: 12px;">
          <div class="col-md-2 minute">
            <h3>2min</h3>
            <p>hospital</p>
          </div>
          <div class="col-md-2 minute">
            <h3>5mins</h3>
            <p>Musical Sabha’s</p>
          </div>
          <div class="col-md-2 minute">
            <h3>3min</h3>
            <p>Restaurants</p>
          </div>
          <div class="col-md-2 minute">
            <h3>5 mins</h3>
            <p>Educational
              Institutions</p>
          </div>
          <div class="col-md-2 minute">
            <h3>4min</h3>
            <p>Shopping Centers</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="specification">
    <div class="container">
      <div class="row">
        <div class="col-md-6 spec">
<h1>Arise Specifications</h1>
<p>Our Asta arise is sprawling around 2 acres in mid of the city and it is 18 storied luxury apartment located in Chennai. Especially, it's in the music district of the city, Alwarpet, and not far away from TTK road and CP Ramaswamy road. </p>
     
<div class="function">
  <div class="col-md-2 ele">
    <p style="text-align: center;"><span>Structure</span></p>
    <ul>
      <li>Pile Foundation</li>
      <li>RCC Framed Structure</li>
    </ul>
    
  </div>
  <div class="col-md-2 ele1">
    <p style="text-align: center;"><span>Electrical</span></p>
    <ul>
      <li>3 Phase Supply</li>
      <li>100% Generator Back-upe</li>
    </ul>
  </div>
</div>

<div class="function">
  <div class="col-md-2 ele3">
    <p style="text-align: center;"><span>Flooring</span></p>
    <ul>
      <li>Imported Marble flooring in Living, Dining, Kitchen and All Bedrooms</li>
      <li>Engineered Stone/Tile in other areas</li>
    </ul>
    
  </div>
  <div class="col-md-2 ele4">
    <p style="text-align: center;"><span>Air-Conditioning
    </span></p>
    <ul>
      <li>VRV/VRF type in Living, Dining and Bedrooms</li>
    
    </ul>
    <button class="btn6">For More Details</button>
  </div>
</div>

</div>
        <div class="col-md-6 ece">
          <img src="../../assets/img/eletrical.png" style=" width: 779px;">
        </div>
      </div>
    </div>
  </section>

  <section class="progress1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pro">
<h1>Typical Floor Plans &<br>Site Progress</h1>
<p>Check out the characteristics of Asta Arise Apartments, floor design, and site progress simultaneously.</p>
<div class="plans">
<button class="btn7">Asta Arise Floor Plan</button>
<button class="btn7"><i class="fa fa-calendar-o" aria-hidden="true"></i>  Feb 2022</button>
<button class="btn7"><i class="fa fa-calendar-o" aria-hidden="true"></i>  Jan 2022</button>
<button class="btn7"><i class="fa fa-calendar-o" aria-hidden="true"></i>  Dec 2021</button>
</div>
        </div>
        <div class="col-md-6 pro" style="margin-top: 205px;">
<img src="../../assets/img/progress-img.png">
        </div>
      </div>
    </div>
  </section>

  <section class="unlock">
    <div class="container">
      <div class="row">
        <div class="col-md-6 unlock1">
<img src="../../assets/img/unlock.png">
<h2>Unlock your<br>
  <span>Luxurious Apartment</span></h2>
        </div>
        <div class="col-md-6 unlock2">
          <table class="table table-borderless">
            <thead>
              <tr>
              
                <th scope="col">Type</th>
                <th scope="col">Area</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>3BHK  +  3T</td>
                <td>2291 TO 2948 SFT</td>
                <td><button class="btn8"><i class="fa fa-lock" aria-hidden="true"></i>  Unlock Price</button></td>
                
              </tr>
              <tr>
                
                <td>4BHK + 4T</td>
                <td>2967 TO 3302 SFT</td>
                <td><button class="btn8"><i class="fa fa-lock" aria-hidden="true"></i>  Unlock Price</button></td>
              </tr>
              <tr>
           
                <td>Duplex</td>
                <td>4409 TO 4500 SFT</td>
                <td><button class="btn8"><i class="fa fa-lock" aria-hidden="true"></i>  Unlock Price</button></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="slider">
  
    <div class="container-fluid">
      <h1>Gallery</h1>
      <p>Let's look at our Asta Arise’s gallery, the pictures give great aesthetic pleasure along with defining its amenities and attributes.</p>
      <div class="row">
        <div class="col-md-12 col-xs-12">
      <div class="slider-warp">
        <div class="slider">
          <div class="item">
            <span> <img src="../../assets/img/lux1.png"> </span>
          </div>
          <div class="item">
            <span> <img src="../../assets/img/lux2.png">  </span>
          </div>
          <div class="item">
            <span> <img src="../../assets/img/lux1.png">  </span>
          </div>
          <div class="item">
            <span> <img src="../../assets/img/lux2.png">  </span>
          </div>
          <div class="item col-xs-12">
            <span><img src="../../assets/img/lux1.png"> </span>
          </div>
          <div class="item">
            <span> <img src="../../assets/img/lux2.png">   </span>
          </div>
        </div>
        <div class="prev button">
          <button pre>prev</button>
        </div>
        <div class="next button">
          <button next>last</button>
        </div>
      </div>
      </div>
      </div>
    </div>
  
  
  </section>